footer {
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 250px;
    max-width: 600px;
    width: 40%;
    margin: 70px auto;

    a {
      border: 1px solid $grey1;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      margin-right: 10px;

      @media screen and (max-width: 840px) {
        width: 30px;
        height: 30px;
      }

      &:hover {
        border: 1px solid $color1;
        color: $color1;
      }

      i {
        @media screen and (max-width: 840px) {
          font-size: 0.7rem;
        }
      }
    }
  }
}
