.section2 {
  display: grid;
  grid-template-columns: 65% 35%;

  @media screen and (max-width: 840px) {
    grid-template-columns: 1fr;
  }

  .section-img {
    background: url(../img/img-right.jpg) center/cover;
    height: 350px;

    @media screen and (max-width: 840px) {
      display: none;
    }
  }
}
