@charset "UTF-8";
@font-face {
  font-family: "allura";
  src: url(../fonts/Allura/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@keyframes header {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  text-align: center;
  font-family: roboto, sans-serif;
  background: rgb(33, 32, 30);
}

.btn {
  outline: none;
  border: none;
  background: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 900;
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
}
header .header-container {
  height: 100vh;
  color: rgb(238, 238, 238);
  max-width: 1100px;
  margin: 0 auto;
}
header .header-container nav {
  height: 12vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  margin: 0 10px;
}
@media screen and (max-width: 685px) {
  header .header-container nav {
    grid-template-columns: 50% 50%;
  }
}
header .header-container nav .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-container nav .title h2 {
  font-family: allura, cursive;
  font-size: 2.5rem;
}
header .header-container nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
}
@media screen and (max-width: 685px) {
  header .header-container nav ul {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 685px) {
  header .header-container nav .links {
    display: none;
  }
}
header .header-container nav .links li {
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.4s;
  padding-bottom: 3px;
  position: relative;
}
header .header-container nav .links li:hover {
  color: rgb(168, 115, 69);
  border-bottom: 1px solid rgb(168, 115, 69);
}
header .header-container nav .social li {
  font-size: 0.9rem;
  margin-right: 10px;
  transition: 0.8s;
  cursor: pointer;
}
header .header-container nav .social li:hover {
  transform: scale(1.5) rotateX(360deg);
  color: rgb(168, 115, 69);
}
header .header-container .header-main {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: header 2s ease forwards;
}
header .header-container .header-main .header-main-content {
  margin-top: -160px;
  padding: 25px;
}
header .header-container .header-main .header-main-content h2 {
  color: rgb(168, 115, 69);
  font-family: allura, cursive;
  font-size: 3.2rem;
  font-weight: 100;
}
@media screen and (max-width: 685px) {
  header .header-container .header-main .header-main-content h2 {
    font-size: 2rem;
    padding-bottom: 35px;
  }
}
header .header-container .header-main .header-main-content h1 {
  text-transform: uppercase;
  font-family: poppins, serif;
  font-size: 3.4rem;
  letter-spacing: 10px;
  margin-top: -30px;
}
@media screen and (max-width: 685px) {
  header .header-container .header-main .header-main-content h1 {
    font-size: 2rem;
  }
}
header .header-container .header-main .header-main-content img {
  height: 30px;
  width: 30px;
  margin: 30px auto;
}
header .header-container .header-main .header-main-content p {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 0.85rem;
}
@media screen and (max-width: 685px) {
  header .header-container .header-main .header-main-content p {
    font-size: 0.75rem;
  }
}

.section1 {
  background: rgb(238, 238, 238);
}
.section1 .section1-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 685px) {
  .section1 .section1-container {
    grid-template-columns: 1fr;
  }
}
.section1 .section1-container .section1-left {
  padding: 15px;
}
.section1 .section1-container .section1-left .section1-left-content {
  padding: 25px;
  border: 1px dashed rgb(168, 115, 69);
}
.section1 .section1-container .section1-left .section1-left-content h2 {
  color: rgb(168, 115, 69);
  font-family: allura, cursive;
  font-weight: 100;
  font-size: 2rem;
}
.section1 .section1-container .section1-left .section1-left-content h3 {
  text-transform: uppercase;
  font-family: poppins, serif;
  font-size: 1.2rem;
  margin-top: -12px;
}
.section1 .section1-container .section1-left .section1-left-content > img {
  height: 28px;
  width: 28px;
  margin: 25px auto;
}
.section1 .section1-container .section1-left .section1-left-content .text {
  font-size: 0.95rem;
}
.section1 .section1-container .section1-left .section1-left-content .chef-img img {
  border-radius: 50px;
  width: 60px;
  height: 60px;
  margin: 15px auto;
}
.section1 .section1-container .section1-left .section1-left-content .russel {
  font-weight: 500;
  font-family: poppins, serif;
}
.section1 .section1-container .section1-left .section1-left-content .chef-cook {
  text-transform: uppercase;
  color: rgb(200, 200, 200);
  font-weight: 900;
  font-size: 0.75rem;
}
.section1 .section1-container .section1-right {
  background: url(../img/store-01.jpg) center/cover;
}
@media screen and (max-width: 685px) {
  .section1 .section1-container .section1-right {
    display: none;
  }
}

.section2 {
  padding: 50px 20px 120px;
  position: relative;
}
.section2::after {
  content: "";
  position: absolute;
  background: url(../img/bg-menu-01.jpg) center/cover;
  width: 100%;
  height: 590px;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.section2 .section2-top {
  padding: 10px 0 35px;
}
.section2 .section2-top h2 {
  color: rgb(168, 115, 69);
  font-family: allura, cursive;
  font-weight: 100;
  font-size: 2rem;
}
.section2 .section2-top img {
  height: 28px;
  width: 28px;
  margin: 25px auto;
}
.section2 .section2-top ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 750px;
  margin: 0 auto;
}
.section2 .section2-top ul li {
  color: rgb(200, 200, 200);
  border-bottom: 1px solid rgb(117, 117, 117);
  padding-bottom: 5px;
  cursor: pointer;
  transition: 0.5s;
}
@media screen and (max-width: 685px) {
  .section2 .section2-top ul li {
    font-size: 0.85rem;
  }
}
.section2 .section2-top ul li:hover {
  color: rgb(168, 115, 69);
  border-bottom: 1px solid rgb(168, 115, 69);
}
.section2 .section2-main {
  max-width: 800px;
  margin: 0 auto;
  background: rgb(238, 238, 238);
  border-top: 4px solid rgb(168, 115, 69);
}
.section2 .section2-main .section2-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 15px;
}
@media screen and (max-width: 685px) {
  .section2 .section2-main .section2-container {
    display: block;
  }
}
.section2 .section2-main .section2-container .menu {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  padding: 25px 0;
  border-bottom: 1px dashed rgb(176, 176, 176);
  margin: 0 15px;
}
.section2 .section2-main .section2-container .menu img {
  border-radius: 50%;
  width: 100%;
}
@media screen and (max-width: 685px) {
  .section2 .section2-main .section2-container .menu img {
    width: 75%;
  }
}
.section2 .section2-main .section2-container .menu .text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 0 10px;
}
.section2 .section2-main .section2-container .menu .text-container h4 {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-bottom: 5px;
  font-weight: 400;
}
.section2 .section2-main .section2-container .menu span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
  color: rgb(168, 115, 69);
  font-size: 1.1rem;
}

.section3 {
  max-width: 1100px;
  margin: 80px auto 0;
}
.section3 .section3-container {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0 20px;
}
@media screen and (max-width: 885px) {
  .section3 .section3-container {
    display: block;
  }
}
.section3 .section3-container .section3-left {
  background: black;
  color: rgb(238, 238, 238);
  padding: 25px;
}
.section3 .section3-container .section3-left .left-content {
  padding: 20px 0 30px;
  border: 1px dashed rgb(143, 143, 143);
}
.section3 .section3-container .section3-left .left-content h2 {
  color: rgb(168, 115, 69);
  font-family: allura, cursive;
  font-weight: 100;
  font-size: 2.5rem;
}
.section3 .section3-container .section3-left .left-content h3 {
  text-transform: uppercase;
  font-family: poppins, serif;
  font-size: 1.3rem;
  margin-top: -17px;
  letter-spacing: 2px;
}
.section3 .section3-container .section3-left .left-content img {
  height: 28px;
  width: 28px;
  margin: 30px auto 40px;
}
.section3 .section3-container .section3-left .left-content h4 {
  text-transform: uppercase;
  color: rgb(168, 115, 69);
  letter-spacing: 1px;
  padding-bottom: 10px;
}
.section3 .section3-container .section3-left .left-content p {
  font-size: 0.85rem;
  padding-bottom: 40px;
}
.section3 .section3-container .section3-left .left-content h5 {
  color: rgb(168, 115, 69);
  font-size: 1.1rem;
  font-family: poppins, serif;
  font-weight: 100;
}
.section3 .section3-container .section3-right {
  background: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
}
.section3 .section3-container .section3-right .right-content h2 {
  color: rgb(168, 115, 69);
  font-family: allura, cursive;
  font-weight: 100;
  font-size: 2.5rem;
}
.section3 .section3-container .section3-right .right-content h3 {
  text-transform: uppercase;
  font-family: poppins, serif;
  font-size: 1.7rem;
  margin-top: -17px;
  color: rgb(33, 32, 30);
}
.section3 .section3-container .section3-right .right-content img {
  height: 25px;
  width: 25px;
  margin: 25px auto 30px;
}
.section3 .section3-container .section3-right .right-content form .form-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 685px) {
  .section3 .section3-container .section3-right .right-content form .form-container {
    grid-template-columns: 1fr;
  }
}
.section3 .section3-container .section3-right .right-content form .form-container select,
.section3 .section3-container .section3-right .right-content form .form-container input {
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding: 10px 0 13px;
  margin: 0 10px 10px;
}
.section3 .section3-container .section3-right .right-content form .submit-container {
  margin-top: 40px;
}
.section3 .section3-container .section3-right .right-content form .submit-container input {
  outline: none;
  border: none;
  background: rgb(33, 32, 30);
  color: rgb(238, 238, 238);
  text-transform: uppercase;
  font-family: poppins, serif;
  font-size: 0.85rem;
  letter-spacing: 4px;
  border-radius: 50px;
  padding: 13px 32px;
  cursor: pointer;
  transition: 0.4s;
}
.section3 .section3-container .section3-right .right-content form .submit-container input:hover {
  transform: scale(1.1);
  background: rgb(168, 115, 69);
  color: rgb(33, 32, 30);
}

.section4 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
@media screen and (max-width: 685px) {
  .section4 {
    display: none;
  }
}
.section4 .section4-top h2 {
  color: rgb(168, 115, 69);
  font-family: allura, cursive;
  font-weight: 100;
  font-size: 2.5rem;
}
.section4 .section4-top h3 {
  text-transform: uppercase;
  font-family: poppins, serif;
  font-size: 2rem;
  margin-top: -12px;
  color: rgb(238, 238, 238);
  letter-spacing: 2px;
}
.section4 .section4-top img {
  height: 30px;
  width: 30px;
  margin: 30px auto;
}
.section4 .section4-main .container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "top right" "bottom right";
}
.section4 .section4-main .container .top {
  margin-bottom: 20px;
}
.section4 .section4-main .container .top .img-container {
  background: url(../img/event-01.jpg) center/cover;
}
.section4 .section4-main .container .bottom .img-container {
  background: url(../img/event-02.jpg) center/cover;
}
.section4 .section4-main .container .left-part {
  background: rgb(238, 238, 238);
  display: grid;
  grid-template-columns: 37% 63%;
  margin-right: 20px;
}
.section4 .section4-main .container .left-part .img-container {
  position: relative;
}
.section4 .section4-main .container .left-part .img-container .date {
  position: absolute;
  background: rgb(33, 32, 30);
  color: rgb(238, 238, 238);
  height: 85px;
  width: 85px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section4 .section4-main .container .left-part .img-container .date .number {
  font-weight: 900;
  font-size: 1.6rem;
}
.section4 .section4-main .container .left-part .img-container .date .july {
  font-weight: normal;
  font-size: 1.1rem;
}
.section4 .section4-main .container .left-part .text {
  display: flex;
  text-align: left;
  padding: 40px 20px;
}
.section4 .section4-main .container .left-part .text .text-content h4 {
  font-weight: 100;
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.section4 .section4-main .container .left-part .text .text-content .time {
  color: rgb(200, 200, 200);
  font-size: 0.9rem;
  margin: 20px 0;
  letter-spacing: 1px;
}
.section4 .section4-main .container .left-part .text .text-content .time i {
  font-size: 0.8rem;
}
.section4 .section4-main .container .left-part .text .text-content .time i:last-child {
  margin-left: 5px;
}
.section4 .section4-main .container .right-part {
  background: url(../img/event-03.jpg) center/cover;
  padding: 25px;
}
.section4 .section4-main .container .right-part .right-part-container {
  background: rgb(238, 238, 238);
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4 .section4-main .container .right-part .right-part-container .date {
  position: absolute;
  background: rgb(33, 32, 30);
  color: rgb(238, 238, 238);
  height: 85px;
  width: 85px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section4 .section4-main .container .right-part .right-part-container .date .number {
  font-weight: 900;
  font-size: 1.6rem;
}
.section4 .section4-main .container .right-part .right-part-container .date .july {
  font-weight: normal;
  font-size: 1.1rem;
}
.section4 .section4-main .container .right-part .right-part-container .text {
  display: flex;
}
.section4 .section4-main .container .right-part .right-part-container .text .text-content {
  padding: 90px 10px 0;
}
.section4 .section4-main .container .right-part .right-part-container .text .text-content h4 {
  font-weight: 100;
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.section4 .section4-main .container .right-part .right-part-container .text .text-content .time {
  color: rgb(200, 200, 200);
  font-size: 0.8rem;
  margin: 20px 0 60px;
  letter-spacing: 1px;
}
.section4 .section4-main .container .right-part .right-part-container .text .text-content .time i {
  font-size: 0.8rem;
}
.section4 .section4-main .container .right-part .right-part-container .text .text-content .time i:last-child {
  margin-left: 5px;
}
.section4 .top {
  grid-area: top;
}
.section4 .bottom {
  grid-area: bottom;
}
.section4 .right-part {
  grid-area: right;
}

.section5 {
  padding: 100px 50px 200px;
  position: relative;
}
.section5::before {
  content: "";
  position: absolute;
  background: url(../img/gmap.jpg) center/cover;
  width: 100%;
  height: 330px;
  z-index: -1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section5 .section5-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 65px 70px;
  background: rgb(238, 238, 238);
  position: relative;
}
.section5 .section5-container img {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.section5 .section5-container .section5-content .text {
  line-height: 28px;
}
.section5 .section5-container .section5-content .text:before {
  content: "❝";
  font-size: 1.5rem;
}
.section5 .section5-container .section5-content .text::after {
  content: "❞";
  font-size: 1.5rem;
}
.section5 .section5-container .section5-content h2 {
  font-weight: 500;
  margin: 40px auto 15px;
  font-size: 1.4rem;
}
.section5 .section5-container .section5-content span {
  color: rgb(168, 115, 69);
}

footer {
  background: url(../img/bg-footer.jpg) center/cover;
}
footer .footer-container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 685px) {
  footer .footer-container {
    grid-template-columns: 1fr;
    background: rgb(33, 32, 30);
  }
}
footer .footer-container .left-part {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 65px 15px;
}
@media screen and (max-width: 685px) {
  footer .footer-container .left-part {
    display: none;
  }
}
footer .footer-container .left-part h2 {
  color: rgb(168, 115, 69);
  font-family: allura, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 15px;
}
footer .footer-container .left-part p {
  color: rgb(176, 176, 176);
  line-height: 32px;
}
footer .footer-container .right-part {
  display: flex;
  padding: 65px;
  text-align: left;
}
@media screen and (max-width: 685px) {
  footer .footer-container .right-part {
    padding: 50px 0 50px 15px;
  }
}
footer .footer-container .right-part h3 {
  color: rgb(238, 238, 238);
  text-transform: uppercase;
  font-size: 0.9rem;
}
footer .footer-container .right-part .newsletter input {
  outline: none;
  background: none;
  border: 1px solid rgb(42, 37, 33);
  width: 250px;
  padding: 8px 15px;
  margin: 20px 0 50px;
  font-size: 0.9rem;
}
footer .footer-container .right-part .follow {
  display: flex;
}
footer .footer-container .right-part .follow .social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}
footer .footer-container .right-part .follow .social li {
  color: rgb(89, 89, 89);
  font-size: 0.9rem;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
}
footer .footer-container .right-part .follow .social li:hover {
  transform: scale(1.3);
}/*# sourceMappingURL=index.css.map */