@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

/* SECTION A PROPOS */

.a-propos {
  font-family: "Raleway", sans-serif;
}

.a-propos-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 0;
}

.a-propos-container-content {
  display: grid;
  grid-template-columns: 65% 35%;
  align-items: center;
  background: rgb(221, 221, 221);
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgb(117, 117, 117);
  margin: 0 20px;
}

.a-propos-text-container {
  padding-right: 30px;
}

.a-propos-text-container h2 {
  font-size: calc(1.3rem + 1vw);
  margin-bottom: 30px;
}

.a-propos-picture-mobile {
  display: none;
}

.a-propos-text-container p {
  font-size: calc(0.9rem + 0.4vw);
  margin: 15px 0;
  line-height: 32px;
}

.a-propos-text-container span {
  font-weight: 900;
}

.a-propos-text-container p:nth-last-child(1) {
  font-weight: 700;
}

.a-propos-picture {
  text-align: right;
}

.a-propos-picture img {
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(117, 117, 117);
  width: 90%;
}

/* SECTION REALISATIONS */

.realisations {
  background: rgb(0, 0, 60);
  color: rgb(221, 221, 221);
  padding: 40px 0;
  margin: 0 auto;
}

.realisations h2 {
  text-align: center;
  font-size: calc(1.3rem + 1vw);
  letter-spacing: 2px;
}

.realisations-container {
  max-width: 1100px;
  margin: 60px auto 20px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.realisation {
  position: relative;
}

.realisation:nth-child(2) {
  margin: 0 35px;
}

.realisation img {
  width: 100%;
  border-radius: 10px;
  box-shadow: -1px -1px 5px rgb(221, 221, 221);
  transition: 0.7s;
}

.realisation:hover img {
  filter: brightness(20%);
}

.realisation-infos {
  position: absolute;
  top: 50%;
  transform: translate(-50px, -50%);
  opacity: 0;
  transition: 0.8s;
  margin-left: 20px;
}

.realisation:hover .realisation-infos {
  opacity: 1;
  transform: translate(0, -50%);
}

.realisation-infos a {
  font-size: calc(1.1rem + 0.3vw);
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-left: 5px;
}

#languages {
  margin: 10px 0;
  font-size: calc(1.1rem + 0.5vw);
}

#languages i {
  margin-left: 5px;
}

#date {
  font-size: calc(1.1rem + 0.5vw);
  margin-left: 5px;
}

/* MEDIAS QUERIES */

@media screen and (max-width: 850px) {
  .a-propos-container-content {
    display: block;
    text-align: center;
  }

  .a-propos-text-container p {
    line-height: 25px;
  }

  .a-propos-picture-mobile {
    display: block;
  }

  .a-propos-picture-mobile img {
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(117, 117, 117);
    width: 90%;
    max-width: 350px;
  }

  .a-propos-text-container {
    padding: 0;
  }

  .a-propos-picture {
    display: none;
  }

  .realisations {
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(117, 117, 117);
  }
  .realisations-container {
    display: block;
  }

  .realisation {
    margin: 50px auto;
    width: 90%;
  }

  .realisation:nth-child(2) {
    margin: 20px auto;
  }
}
