.a-propos {
    background: rgb(5, 0, 68);
    color: whitesmoke;
    padding: 60px;
    margin: 40px 0;
}

.a-propos h2 {
    margin-bottom: 50px;
    font-size: 2rem;
    color: rgb(216, 0, 0);
    letter-spacing: 2px;
}

.a-propos p {
    width: 80%;
    margin: 20px auto;
    font-size: 1.1rem;
    line-height: 25px;
    letter-spacing: 1px;
}

.realisation {
    margin: 80px 0;
}

.realisation h2 {
    margin: 60px;
    font-size: 2rem;
    letter-spacing: 2px;
}

.grid {
    display: grid;
    grid-template-columns: 90%;
    margin: 0 auto;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}


.lien-conteneur-photos img {
    width: 90%;
    max-width: 1000px;
    border: 2px solid rgb(216, 0, 0);
}

.lien-conteneur-photos {
    position: relative;
    display: block;
    margin: 0 auto;
  }
  
  .photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.photo-hover em {
    font-size: 0.85em;
}

.lien-conteneur-photos:hover .photo-hover {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }


.portfolio {
    display: inline-block;
    background: rgb(5, 0, 68);
    color: white;
    margin: 50px auto 10px;
    padding: 20px 30px;
    border-radius: 50px;
}

.portfolio:hover {
    opacity: 0.7;
    transition: 0.2s;
}

/* media queries */ 

@media screen and (max-width:850px) {
    
    .a-propos p {
        width: 100%;
    }
}

