@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0b0a0a;
  color: #f4f4f4;
  font-family: Manrope, sans-serif;
}

a,
a:visited {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.container-fluid {
  display: block;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

/* Navigation */

.nav,
.nav-overlay {
  left: 0;
  position: fixed;
  width: 100%;
}

.nav-overlay {
  transform: translateY(100%) translateZ(0);
  backdrop-filter: blur(2px);
  background: transparent;
  cursor: pointer;
  height: 100vh;
  top: 0;
  transition: 1.3s ease;
}

.nav {
  background: #0b0a0a;
  bottom: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
  transform: translateZ(0);
  transition: 3.2s ease;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.nav-item {
  color: #f4f4f4;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.nav-name {
  cursor: pointer;
}

.menu-icon {
  display: flex;
  align-items: center;
}

.menu-icon-text {
  color: #f4f4f4;
  margin-right: 0.8rem;
}

.menu-icon-icons {
  position: relative;
  width: 2.4rem;
}

.menu-icon-icons span {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  display: block;
  margin-top: 4px;
  background: #f4f4f4;
  /* transition: 0.3s ease; */
}

.menu {
  background: #ededed;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  bottom: 0;
  height: 80vh;
  left: 0;
  position: fixed;
  transform: translateY(120%) translateZ(0);
  transition: 1.8s ease-in-out;
  width: 100%;
}

.menu .container-fluid,
.menu-inner {
  height: 100%;
}

.menu-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu-list {
  list-style-type: none;
}

.menu-item {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: 1.8;
  text-align: center;
}

.menu-item a,
.menu-item a:visited {
  color: #c6c6c6;
}

.menu-link {
  color: #c6c6c6;
  display: block;
  overflow: hidden;
  position: relative;
}

.menu-link span {
  color: inherit;
  display: inline-block;
  position: relative;
  transform: translateY(150%);
  transition: 2.7s ease;
}

.menu-link span::before {
  color: #0b0a0a;
  content: attr(data-text);
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: width 0.3s cubic-bezier(0.29, 0.73, 0.74, 1.02);
  width: 0;
}

.menu-link span:hover::before {
  width: 100%;
}

.menu-footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1.6rem 0;
  position: absolute;
  width: 100%;
}

.menu-socials {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-right: 2.4rem;
}

.menu-socials-links {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  white-space: nowrap;
}

.menu-socials-links:not(:first-child) {
  margin-left: 5px;
}

.menu-socials-links:not(:last-child)::after {
  color: #0b0a0a;
  content: ",";
  margin-left: -3px;
}

.menu-socials-links a {
  color: #0b0a0a;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.menu-socials-links a::after {
  background: #0b0a0a;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  width: 100%;
}

.menu-socials-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-close {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.menu-close-icons {
  margin-left: 5px;
}

.menu-close-icons span {
  width: 15px;
  height: 2px;
  border-radius: 5px;
  background: #0b0a0a;
  position: absolute;
  display: block;
  transition: 0.4s ease;
}

.menu-close-icons span:nth-child(1) {
  transform: rotate(45deg);
}

.menu-close-icons span:nth-child(2) {
  transform: rotate(-45deg);
}

.menu-close:hover span:nth-child(1) {
  transform: rotate(35deg);
}
.menu-close:hover span:nth-child(2) {
  transform: rotate(-35deg);
}

/*Medias queries */

@media screen and (max-width: 592px) {
  .nav-time,
  .nav-location {
    display: none;
  }

  .menu-item {
    font-size: 4rem;
    line-height: 2.5;
  }

  .menu-socials li,
  .menu-close-text {
    font-size: 0.85rem;
  }

  .menu-close-icons span {
    /* right: -2px; */
    width: 10px;
  }
}
