header {
  color: $white1;

  // media queries a 885px

  .header-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;

    .header-content {
      h1 {
        @include title;
        font-size: 3.7rem;
        letter-spacing: 7px;

        @media screen and (max-width: 640px) {
          font-size: 2rem;
        }
      }

      p {
        font-style: italic;
        font-size: 0.9rem;
        padding: 45px;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        color: $white1;
        border: 2px solid $white1;
        border-radius: 50%;
        height: 55px;
        width: 55px;
      }
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1100px;
      width: 100%;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      background: rgba(245, 245, 245, 0.2);

      .nav-left {
        display: flex;
        width: 65%;

        @media screen and (max-width: 640px) {
          width: 100%;
        }

        &:hover li:not(:hover) {
          background: none;
          color: $white1;
        }

        li {
          text-transform: uppercase;
          font-size: 0.6rem;
          font-family: $font2;
          letter-spacing: 3px;
          padding: 25px 30px;
          transition: 0.4s;

          &:first-child,
          &:hover {
            background: $white1;
            color: black;
          }
        }
      }

      .nav-right {
        display: flex;
        justify-content: space-around;
        width: 27%;

        @media screen and (max-width: 640px) {
          display: none;
        }

        i {
          cursor: pointer;
          transition: 0.4s ease;

          &:hover {
            color: black;
            transform: scale(1.25);
          }
        }
      }
    }
  }
}
